.rodape {

    & {
        width: 100%;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    &, div {
        background-color: var(--black);
    }
    
    &, div {
        display: flex;
    }

    & {
        justify-content: center;
        align-items: center;
    }

    & {
        flex-direction: column;
    }

   

    .icone {
        font-size: 40px;
        padding: 10px;
        // padding-right: 10px;
        // border: var(--b1);
        transition: ease-in-out 0.3s;

        &:hover {
            background: none;
            scale: 1.2;
            
            a {
                svg {
                    fill: #F26628;
                }
                border-bottom: var(--b1);
            }
            
        }
    }
}