.conteudo {
    
    
    padding-bottom: 100px;
    width: 90%;
    // border: var(--b1);

    span {
        font-weight: 200;
        font-size: 17pt;
    }

    &, .pvr, .pvr .infos, .pvr .download, .completo, .separado, .titulozinho {
        display: flex;
    }

    &, .separado {
        flex-wrap: wrap;
    }

    &, .pvr, .pvr .download, .completo, .separado {
        justify-content: center;
        align-items: center;
    }

    .completo, .separado, .titulozinho {
        width: 80%;
    }


    .completo, .separado {
        margin-bottom: 50px;
    }


    .completo {
        // border: var(--b1P);
        
        padding-top: 25px;
        padding-bottom: 25px;

        .ajuste {
            width: 50%;
            // border: var(--b1);
            display: flex;
            flex-direction: column;
            .download {
                width: 90%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        
    }

    .separado .pvr, .separado .pvr .infos, .completo {
        flex-direction: column;
    }


    .separado {

        // border: var(--b1);
    
        .pvr {
            border: var(--b1P);
            // width: 25%;
            flex-grow: 1;
            min-height: 150px;
            padding-top: 50px;
            padding-bottom: 50px;
            padding-left:35px;
            padding-right:35px;
            margin: 0px;
            // cursor: pointer;
    
            background-color: var(--blue);
            transition: ease-in-out 0.2s;
            
    
            &:hover {
                scale: 1.05;
                box-shadow: 0px 0px 5px var(--opa75);
            }
    
            .infos {
                width: 100%;
                padding-bottom: 20px;
            
                h1 {
                    font-size: 1.5rem;
                    margin-bottom: 15px;
                }
    
                span {
                    font-weight: 200;
                    margin-bottom: 5px;
                }
            }
    
            
            
        
        }
    }


    

    .download {
        // border: var(--b2);
        background-color: var(--white);
        cursor: pointer;
        transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
        padding: 5px;
        border-radius: 5px;
        border: var(--b4);
        width: 100%;

        h1 {
            font-weight: 500;
            font-size: 1.3rem;
            color: var(--blue);
        }


        svg {
            // Mudar a cor
            fill: var(--blue);
            margin-right: 10px;
        }


        &:hover {
            background-color: var(--blue);
            border: var(--b1);
            scale: 1.02;

            h1 {
                color: var(--white);
            }

            svg {
                fill: var(--white);
            }
        }

    }
    


}