.conteudo {

    width: 80%;
    padding-top: 50px;

    .titulo, .corpo {
        display: flex;
    }

    .titulo, .corpo {
        align-items: center;
        // Apenas testes
    }

    .titulo, .corpo {
        justify-content: center;
    }

    .titulo {
        margin-bottom: 100px;
    }

    .corpo {
        flex-direction: column;
    }


}