.topicos {
    
    width: 100%;
    justify-content: center;


    &, .topico {
        display: flex;
    }

    .topico {
        flex-direction: column;
        width: 25%;
        margin-left: 30px;
        margin-right: 30px;

        h3 {
            font-weight: 400;
            font-size: 14pt;
            margin-bottom: 5px;
        }

        p {
            text-align: justify;
            font-size: 11pt;
            color: var(--opa60);
        }

    }
}

.formulario {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;


    .icon {
        font-size: 3rem;
        margin-right: 10px;
        // fill: var(--opa60);
    }

    .entrada {
        label {
            font-size: 1rem;
        }

        input {
            width: 125%;
        }
    }
}