.topicos {
    
    width: 100%;
    justify-content: center;
    
    &, .topico {
        display: flex;
    }

    .topico {
        flex-direction: column;
        width: 30%;
        margin-left: 20px;
        margin-right: 20px;

        h3 {
            font-weight: 400;
            font-size: 20pt;
            margin-bottom: 3px;
        }

        p {
            text-align: justify;
            font-size: 14pt;
            color: var(--opa60);
        }

    }
}

.formulario {
    width: 100%;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 70px;

    &, .infosEntrada {
        display: flex;
    }

    &, .infosEntrada {
        align-items: center;
    }


    &, .infosEntrada {
        width: 100%;
    }

    &, .infosEntrada {
        justify-content: center;
    }

    & {
        flex-direction: column;
    }

    // .infosEntrada {
    //     border: var(--b1);
    // }

    .icon {
        font-size: 3rem;
        margin-right: 10px;
    }

    .infosEntrada {


    
        .entrada {
            label {
                font-size: 1rem;
            }
    
            input {
                width: 125%;
            }
        }
    }

    .botoes {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    
}